page-welcome {
#welcome{
	background: #EA8513;
	h1{
	margin-top:100px;
	font-size:60px;
	}
	#signin{
	background-color:#EA3A13;
	margin-top:200px;
	}
	#signup{
	background-color:#0C0908;
	margin-top:10px;
	}
}
}
