<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="register">
<ion-list>

  <ion-item>
    <ion-label fixed>Username</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
 
  	 
  
  <ion-item>
    <ion-label fixed>Profile Picture</ion-label>
    <ion-input type="file"></ion-input>
  </ion-item>
  <button ion-button block id="signup" (click)="opencamera()">Take Picture from Camera</button>
 <button ion-button block id="signup" (click)="register()">Register</button>
</ion-list>
  <!--<img src="{{ myphoto }}" *ngIf="myphoto" id="image-container"/>-->
  <ion-grid>
    <ion-row>
    <ion-col col-6 *ngFor="let pic of photo; let id = index">
      <ion-card class="block">
        <ion-icon name="close" class="deleteicon" (click)="deletephoto(id)"></ion-icon>
    <img src="{{ pic }}" *ngIf="pic" />
  </ion-card>
    </ion-col>
   
  </ion-row>
  </ion-grid>
  
</ion-content>
