page-register {
#register{
	#signup{
	 background-color:#3CE316;
	 margin-top:20px;
	}
	 #image-container{
    width: 100px;
    height: 100px;
   }
   .block{
   position:relative;
     .deleteicon{
       position:absolute;
       margin-left:85%;
       color:white;
       font-size:20px;
     }
   }
}
}
