page-welcome {

.button{
	width: 40%;

}
#welcome{
	text-align: center;
	background: light;
	h1{
	margin-top:100px;
	font-size:60px;
	}
	#signin{
	background-color:primary;
	margin-top:200px;
	}
	#signup{
	background-color:primary;
	margin-top:10px;
	}
}

}
