page-main {
#signup{
	 margin-top:20px;
}
#datacard {
	// visibility:hidden;
}
ion-label{
	font-size: 1.1em;
}
textarea{
	font-size: 1.1em;
}
.shadow{
	border: none!important;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.borderText{
	border-bottom: 1px solid rgb(255, 96, 0);
}
ion-card{
	padding-bottom: 10%;
}

}
