<!--
  Generated template for the mainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Location and other Info.</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="main">
  <ion-grid>
    <ion-card>
      <ion-card-header>
  <ion-card-title>Your Bin</ion-card-title>
</ion-card-header>
<ion-card-content>
    <ion-row>
      <ion-col col-auto>
        <ion-list>
          Barcode / QR code:
          {{param1}}
        </ion-list>
        <ion-item id="Condition">
          <ion-label>Condition</ion-label>
          <ion-select [(ngModel)]="Condition">
            <ion-option value="0">Good</ion-option>
            <ion-option value="1">Damaged</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <!-- <ion-col col-auto>
        <p><b>Lat:</b> {{ lat }}</p>
        <p><b>Lng:</b> {{ lng }}</p>
      </ion-col> -->
      <ion-item>
       <ion-label>Latitude:</ion-label>
       <ion-input value="" [(ngModel)]="Latitude" readonly type="Number"></ion-input>
     </ion-item>
     <ion-item>
       <ion-label>Longitude:</ion-label>
       <ion-input value="" [(ngModel)]="Longitude" readonly type="Number"></ion-input>
     </ion-item>
    </ion-row>


    </ion-card-content>
</ion-card>
  </ion-grid>
<ion-card id="datacard">
  <ion-card-content>
    <br>
    <ion-list>

      <ion-item>
        <ion-label >Waste Bin Files</ion-label>
        <ion-input type="file"></ion-input>
      </ion-item>
      <br>
      <button ion-button block id="signup" (click)="opencamera()">Take Picture from Camera</button>
    </ion-list>
    <br>
    <ion-slides>
  <ion-slide col-6 *ngFor="let pic of photo; let id = index">
    <ion-icon name="close" class="deleteicon" (click)="deletephoto(id)"></ion-icon>
      <img src="{{ pic }}" *ngIf="pic" imageViewer />
    </ion-slide>
</ion-slides>
<ion-item>
  <br>
  <ion-textarea placeholder="Explain the damage here..."></ion-textarea>
</ion-item>
  </ion-card-content>

  <button ion-button (click)="sendPostRequest()">Post Data</button>

</ion-card>
</ion-content>
