page-main {
#signup{
	 margin-top:20px;
}
#datacard {
	// visibility:hidden;
}
ion-label{
	font-size: 1.1em;
}
textarea{
	font-size: 1.1em;
}
#asset{
	max-width: 100%;
}
.shadow{
	border: none!important;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.borderText{
	border-bottom: 1px solid rgb(70, 147, 47);
}
ion-card{
	padding-bottom: 10%;
}
#gray{
	color: gray;
}

}
